<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-bar-up">
            <span class="register">Register</span>
            <span class="Login">Log In</span>
        </div>
        <span class="about">About</span>
        <span class="contact">Q&A</span>
        <span class="ask">Ask a Question</span>
    </nav>
    <section class="sec-1">
        <h1 class="">Ask a Feminist</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi porro tempora dolore. Veniam inventore cumque repellendus sapiente, reiciendis, similique nam, perspiciatis aliquam voluptas aperiam repudiandae voluptates harum officia illo. Minima.</h3>  
    </section>
    <section class="presentation">
        <div class="tags">Tags</div>
        <div class="ethics">Ethics and Politics</div>
        <div class="phenomenology">Phenomenology</div>
        <div class="culture">Culture</div>
        <div class="sex">Sex, Sexuality, and Gender</div>
        <div class="intersection">Intersectionality
            <div class="black">Race</div>
            <div class="class">Class</div>
        </div>
    </section>
</body>
</html>